<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="snake_robot">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.120000017464129 -0.0440736101319086 -0.00013351033611433"
        rpy="0 0 0" />
      <mass
        value="1.32404055494589" />
      <inertia
        ixx="0.00193814367355337"
        ixy="5.17073663943944E-10"
        ixz="-5.45963655811618E-10"
        iyy="0.00302453951919915"
        iyz="-4.83457437500931E-06"
        izz="0.00316193143569446" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/abc/snake/snake_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/abc/snake/snake_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="-0.10865 0.017803 -0.076529"
        rpy="0 0 0" />
      <mass
        value="0.63341" />
      <inertia
        ixx="0.00073644"
        ixy="-3.151E-06"
        ixz="1.1513E-07"
        iyy="0.0010197"
        iyz="-1.0176E-08"
        izz="0.00090037" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/abc/snake/snake_description/meshes/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/abc/snake/snake_description/meshes/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="-0.0765 -0.0745 -0.0465"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="-0.33739 -0.00064039 0.05406"
        rpy="0 0 0" />
      <mass
        value="3.1288" />
      <inertia
        ixx="0.0080057"
        ixy="6.3505E-06"
        ixz="-8.404E-07"
        iyy="0.025033"
        iyz="2.4523E-06"
        izz="0.022341" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/abc/snake/snake_description/meshes/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/abc/snake/snake_description/meshes/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="-0.12694 -0.047652 -0.0745"
      rpy="-1.5708 0 0.0011985" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="0.10621 0.029044 -0.076537"
        rpy="0 0 0" />
      <mass
        value="0.63341" />
      <inertia
        ixx="0.00073881"
        ixy="-2.6319E-05"
        ixz="-5.191E-08"
        iyy="0.0010172"
        iyz="-9.6632E-09"
        izz="0.00090044" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/abc/snake/snake_description/meshes/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/abc/snake/snake_description/meshes/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0.3165 -0.0745 -0.0465"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="0.32501 -0.084885 0.054393"
        rpy="0 0 0" />
      <mass
        value="2.8466" />
      <inertia
        ixx="0.0086442"
        ixy="0.0041061"
        ixz="2.1412E-07"
        iyy="0.023287"
        iyz="-6.7431E-08"
        izz="0.02133" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/abc/snake/snake_description/meshes/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/abc/snake/snake_description/meshes/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="continuous">
    <origin
      xyz="0.13122 -0.034146 -0.0745"
      rpy="-1.5708 0 0.10333" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="1" />
  </joint>
</robot>